body {
  margin: 0;
}

.main-container {
  @media screen and (max-width: 1024px) {
    display: flex;
    justify-content: center;
  } 
}

.cards-container {
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}