.info-container {
  margin-bottom: 10px;
}

.logement {
  display: flex;
  flex-direction: row;
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F6F6F6;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    width: 90vw;
  }
}

.logement-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1240px;
  @media screen and (max-width: 1024px) {
    width: 90vw;
  }
}

.logement-description {
  display: flex;
  flex-direction: column;
  width: 582px;
  h1 {
    color: #FF6060;
    font-size: 36px;
    margin-bottom: 0px;
    @media screen and (max-width: 1024px) {
      font-size: 18px;
    }
  }
  h2 {
    color: black;
    font-size: 18px;
    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }
  }
}

.logement-host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  p {
    color:#FF6060;
    font-size: 18px;
    @media screen and (max-width: 1024px) {
      font-size: 12px;
    }
  }
  img {
    border-radius: 50%;
    @media screen and (max-width: 1024px) {
      width: 32px;
      height: 32px;
    }
  }
}

.host-and-stars {
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1024px) {
    flex-direction: row-reverse;
    justify-content: space-between;;
  }
}

.stars {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 1024px) {
    width: 18px;
    height: 18px;
  }
}

.logement-collapse {
  display: flex;
  flex-direction: row;
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  background-color: #F6F6F6;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    width: 90vw;
  }
}

.more-collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 582px;
  height: 52px;
  background-color: #FF6060;
  border: none;
  border-radius: 10px;
  align-items: center;
  p {
    padding-left: 10px;
    color: white;
    font-size: 18px;
  }
  @media screen and (max-width: 1024px) {
    width: 90vw;
  }
}

.description {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 582px;
  animation: paragraph 0.5s forwards;
  @media screen and (max-width: 1024px) {
    width: 80vw;
    padding-left: 10px;
    padding-right: 10px;
  }
}