.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 209px;
  background-color: black;
}
@media screen and (max-width: 1024px) {
  .footer-container {
    margin-top: 100px;
  }
}
.footer-container img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.footer-container p {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 24px;
}
@media screen and (max-width: 1024px) {
  .footer-container p {
    font-size: 12px;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 45px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 38px;
}
@media screen and (max-width: 1024px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.header-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1240px;
  height: 68px;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .header-layout {
    width: 90vw;
  }
}

.textdecoration {
  display: flex;
  flex-direction: row;
  gap: 57px;
  color: black;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.backgroundimg {
  background-image: url("../img/logo.png");
  width: 211px;
  height: 68px;
}
@media screen and (max-width: 1024px) {
  .backgroundimg {
    background-image: url("../img/minilogo.png");
    width: 145px;
    height: 47px;
  }
}

.banner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-container h1 {
  position: absolute;
  align-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

.banner-layout {
  display: flex;
  justify-content: center;
}

.banner {
  display: flex;
  width: 1240px;
  height: 223px;
}
.banner img {
  filter: brightness(40%);
  width: 100%;
  border: 1px solid;
  border-radius: 25px;
  border-color: black;
  object-fit: cover;
  margin-right: 19px;
  margin-left: 19px;
}

body {
  margin: 0px;
}

@media screen and (max-width: 1024px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

body {
  font-family: "Montserrat";
}

.list-of-flats {
  display: flex;
  flex-direction: row;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 38px;
  margin-bottom: 38px;
  background-color: #F6F6F6;
}
@media screen and (max-width: 1024px) {
  .button-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.button-collapse {
  display: flex;
  width: 1023px;
  height: 52px;
  margin-right: auto;
  margin-left: auto;
  background-color: #FF6060;
  border: none;
  border-radius: 5px;
  text-align: start;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .button-collapse {
    width: 90vw;
  }
}

.paragraphCollapse {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  animation: paragraph 0.5s forwards;
}
@media screen and (max-width: 1024px) {
  .paragraphCollapse {
    width: 80%;
  }
}

@keyframes paragraph {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
.arrow {
  transition: transform 0.3s ease-in-out;
}

.arrow.open {
  transform: rotate(180deg);
}

.rotatearrow2 {
  animation: arrowback 1s forwards;
}

@keyframes arrowback {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-0.5turn);
  }
}
.rotatearrow {
  animation: arrowup 1s forwards;
}

@keyframes arrowup {
  0% {
    transform: rotate(0.5turn);
  }
  100% {
    transform: rotate(0turn);
  }
}
.error {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  align-items: center;
  gap: 139px;
}
.error h1 {
  font-size: 288px;
  color: #FF6060;
  margin: 0px;
  margin-top: 139px;
}
.error .home {
  font-size: 18px;
  color: black;
  margin: 0px;
}
.error p {
  font-size: 38px;
  color: #FF6060;
  margin: 0px;
}
.error a {
  font-size: 18px;
  margin-bottom: 139px;
}
@media screen and (max-width: 1024px) {
  .error {
    justify-content: center;
    gap: 113px;
  }
  .error h1 {
    font-size: 96px;
  }
  .error p {
    text-align: center;
    font-size: 18px;
    margin: 0px;
  }
  .error .home {
    font-size: 14px;
  }
}

.displayFlats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .displayFlats {
    flex-direction: column;
    width: 75%;
    justify-content: center;
  }
}

.cover {
  width: 340px;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
}

.oneflat {
  position: absolute;
  bottom: 0px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: 140px;
  color: white;
  align-self: center;
  background-color: #FF6060;
  z-index: 3;
}
@media screen and (max-width: 1024px) {
  .oneflat {
    left: 0px;
  }
}

.caroussel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
@media screen and (max-width: 1024px) {
  .caroussel {
    margin-top: 27px;
  }
}

.caroussel-container {
  position: relative;
  display: inline-block;
}

.caroussel-img {
  height: 415px;
  width: 1240px;
  border-radius: 25px;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .caroussel-img {
    width: 90vw;
    height: auto;
  }
}

.previous {
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
  transform: translateY(-50%);
}
@media screen and (max-width: 1024px) {
  .previous {
    width: 24px;
    height: 24px;
  }
}

.next {
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
  transform: translateY(-50%);
}
@media screen and (max-width: 1024px) {
  .next {
    width: 24px;
    height: 24px;
  }
}

.numbers {
  position: absolute;
  left: 50%;
  bottom: 10px;
  color: white;
}

.info-container {
  margin-bottom: 10px;
}

.logement {
  display: flex;
  flex-direction: row;
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F6F6F6;
}
@media screen and (max-width: 1024px) {
  .logement {
    flex-direction: column;
    width: 90vw;
  }
}

.logement-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1240px;
}
@media screen and (max-width: 1024px) {
  .logement-container {
    width: 90vw;
  }
}

.logement-description {
  display: flex;
  flex-direction: column;
  width: 582px;
}
.logement-description h1 {
  color: #FF6060;
  font-size: 36px;
  margin-bottom: 0px;
}
@media screen and (max-width: 1024px) {
  .logement-description h1 {
    font-size: 18px;
  }
}
.logement-description h2 {
  color: black;
  font-size: 18px;
}
@media screen and (max-width: 1024px) {
  .logement-description h2 {
    font-size: 14px;
  }
}

.logement-host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.logement-host p {
  color: #FF6060;
  font-size: 18px;
}
@media screen and (max-width: 1024px) {
  .logement-host p {
    font-size: 12px;
  }
}
.logement-host img {
  border-radius: 50%;
}
@media screen and (max-width: 1024px) {
  .logement-host img {
    width: 32px;
    height: 32px;
  }
}

.host-and-stars {
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .host-and-stars {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.stars {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1024px) {
  .stars {
    width: 18px;
    height: 18px;
  }
}

.logement-collapse {
  display: flex;
  flex-direction: row;
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  background-color: #F6F6F6;
}
@media screen and (max-width: 1024px) {
  .logement-collapse {
    flex-direction: column;
    width: 90vw;
  }
}

.more-collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 582px;
  height: 52px;
  background-color: #FF6060;
  border: none;
  border-radius: 10px;
  align-items: center;
}
.more-collapse p {
  padding-left: 10px;
  color: white;
  font-size: 18px;
}
@media screen and (max-width: 1024px) {
  .more-collapse {
    width: 90vw;
  }
}

.description {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 582px;
  animation: paragraph 0.5s forwards;
}
@media screen and (max-width: 1024px) {
  .description {
    width: 80vw;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.tags p {
  width: auto;
  background-color: #FF6060;
  border-radius: 10px;
  color: white;
  padding: 5px 10px 5px 10px;
}
@media screen and (max-width: 1024px) {
  .tags {
    width: auto;
  }
  .tags p {
    font-size: 10px;
  }
}

.tags {
  display: flex;
  flex-direction: row;
}

.colored-star {
  color: #FF6060;
}

.about-container {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  background-color: #F6F6F6;
}
@media screen and (max-width: 1024px) {
  .about-container {
    width: auto;
  }
}

/*# sourceMappingURL=style.css.map */
