.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 209px;
  background-color: black;
  bottom: 0px;
  left: 0px;
}
.footer-container img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.footer-container p {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 24px;
}

.footer-content {
  display: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 45px;
  padding-left: 60px;
  padding-right: 60px;
}

.header-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1240px;
  height: 68px;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 57px;
  color: black;
}
.links a {
  color: black;
  text-decoration: none;
}

.textdecoration {
  display: flex;
  flex-direction: row;
  gap: 57px;
}

.banner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-container h1 {
  position: absolute;
  align-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

.banner-layout {
  display: flex;
  justify-content: center;
}

.banner {
  display: flex;
  width: 1240px;
  height: 223px;
  margin-top: 50px;
}
.banner img {
  filter: brightness(40%);
  width: 100%;
  border: 1px solid;
  border-radius: 25px;
  border-color: black;
  object-fit: cover;
}

body {
  margin: 0;
}

body {
  font-family: "Montserrat";
}

.list-of-flats {
  display: flex;
  flex-direction: row;
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.displayFlats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.cover {
  width: 340px;
  height: 340px;
  flex-wrap: wrap;
  border-radius: 10px;
}

.oneflat {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: 140px;
  color: white;
  align-self: center;
  background-color: black;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 38px;
  margin-bottom: 38px;
}

.button-collapse {
  display: flex;
  width: 1023px;
  height: 52px;
  margin-right: auto;
  margin-left: auto;
  background-color: #FF6060;
  border: none;
  border-radius: 5px;
  text-align: start;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  align-items: center;
}

.paragraphCollapse {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  animation: paragraph 0.5s forwards;
}

@keyframes paragraph {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
.rotatearrow2 {
  animation: arrowback 1s forwards;
}

@keyframes arrowback {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-0.5turn);
  }
}
.rotatearrow {
  animation: arrowup 1s forwards;
}

@keyframes arrowup {
  0% {
    transform: rotate(-0.5turn);
  }
  100% {
    transform: rotate(0turn);
  }
}
.error {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  align-items: center;
}
.error h1 {
  font-size: 288px;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #FF6060;
}
.error .home {
  font-size: 18px;
  color: black;
}
.error p {
  font-size: 38px;
  color: #FF6060;
}
.error a {
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
