.displayFlats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    width: 75%;
    justify-content: center;
  } 
}
.cover {
  width: 340px;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
}

.oneflat {
  position: absolute;
  bottom: 0px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: 140px;
  color: white;
  align-self: center;
  background-color: #FF6060;
  z-index: 3;
  @media screen and (max-width: 1024px) {
    left: 0px;
  } 
}