.button-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 38px;
  margin-bottom: 38px;
  margin-right: auto;
  margin-left: auto;
  background-color: #F6F6F6;
  @media screen and (max-width: 1024px) {
    width: 90vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;  
  }
}

.button-collapse {
  display: flex;
  height: 52px;
  width: 55vw;
  margin-right: auto;
  margin-left: auto;
  background-color: #FF6060;
  border: none;
  border-radius: 5px;
  text-align: start;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 1024px) {
    width: 90vw;
  }
}

.paragraphCollapse {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 55vw;
  animation: paragraph 0.5s forwards;
  @media screen and (max-width: 1024px) {
    width: 80%;
  }
}

@keyframes paragraph {
  0% {transform: translateY(-40px);};
  100% {transform: translateY(0)};
}

.arrow {
  transition: transform 0.3s ease-in-out;
}

.arrow.open {
  transform: rotate(180deg);
}

.rotatearrow2 {
  animation: arrowback 1s forwards;
}

@keyframes arrowback {
  0% {transform: rotate(0)};
  100% {transform: rotate(-0.5turn)};  
}

.rotatearrow {
  animation: arrowup 1s forwards;
}

@keyframes arrowup {
  0% {transform: rotate(0.5turn)};
  100% {transform: rotate(0turn)};  
} 

//