.caroussel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.caroussel-container {
  position: relative;
  display: inline-block; 
}

.caroussel-img {
  height: 415px;
  width: 1240px;
  border-radius: 25px;
  object-fit: cover;
  @media screen and (max-width: 1024px) {
    width: 90vw;
    height: auto;
  }
}

.previous {
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
}

.next {
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
}