.caroussel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  @media screen and (max-width: 1024px) {
    margin-top: 27px;

  }
}

.caroussel-container {
  position: relative;
  display: inline-block; 
}

.caroussel-img {
  width: 65vw;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
  @media screen and (max-width: 1024px) {
    width: 90vw;
    height: 70vw;
  }
}

.previous {
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
  transform: translateY(-50%);
  @media screen and (max-width: 1024px) {
    width: 24px;
    height: 24px;
  }
}

.next {
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
  transform: translateY(-50%);
  @media screen and (max-width: 1024px) {
    width: 24px;
    height: 24px;
  }
}


.numbers {
  position: absolute;
  left: 50%;
  bottom: 10px;
  color: white;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}