.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 45px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 38px;
  @media screen and (max-width: 1024px) {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.header-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1240px;
  height: 68px;
  justify-content: space-between;
  @media screen and (max-width: 1024px) {
    width: 90vw;
  }
}

.textdecoration {
  display: flex;
  flex-direction: row;
  gap: 57px;
  color: black;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.backgroundimg {
  background-image: url("../img/logo.png");
  width: 211px;
  height: 68px;
  @media screen and (max-width: 1024px) {
    background-image: url("../img/minilogo.png");
    width: 145px;
    height: 47px;
  }
}